.shopping {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.add {
  margin: 20px 0;
}

.add input {
  text-transform: capitalize; 
}


.filter button  
{
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;}

td, th {
  border: 1px solid #ddd;
  padding: 8px;}

.completed {
  background: #d4edda;}


.todo-list li span {
  text-transform: capitalize; 
}
